<ul class="board-index">
  <% boards.each(function (board) { %>
    <a href="#/api/boards/<%= board.id %>">
      <li class="board-list-item">
        <%= board.escape('title') %>
      </li>
    </a>
  <% }) %>
</ul>
