<h2><%= board.escape('title') %></h2>

<div>
  <label>Lists:
    <ul class="list-index">
      <% lists.forEach(function (list) { %>
        <li class="list-list-item">
          <%= list.get('title') %>
        </li>
      <% }) %>
    </ul>
  </label>
</div>

<a href="#/">Back to Boards</a>
